body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.bg-pink {
    background-color: #fd94ac;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-pink input{
    background-color: #f56788;
    border: 0;
}

.mb input {
    color: #f4f4f4;
}

#signupLink {
    color: blue;
    cursor: pointer;
    text-decoration: none
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.cupcake-container {
    background-color: #fd94ac;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.cupcake-option {
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    
}

.cupcake-option img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-bottom: 10px; 
}

.cupcake-option select {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cupcake-option .quantity {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    width: 58px;
    height: 5px;
    background-color: white;
}


.Cupcakes-selecionados {
    color: #4CAF50;
}

.wallpaper {
    position: relative;
    background-color: rgba(220, 86, 117, 0.388)
    
}

.wallpaper::before{
    content:"";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background-image: url('./image/Wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}