body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container, .signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#signupLink {
    color: blue;
    cursor: pointer;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.cupcake-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cupcake-option {
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.cupcake-option img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-bottom: 10px; 
}

.cupcake-option select {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quantity {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    width: 32px;
    height: 5px;
}